H1 {
    color: #000080;
    font-size: 200%;
    font-family: Arial, Verdana, sans-serif;
    text-align: center;
  }
  P {
    padding-left: 20px;
    color: red;
    font-size: 20px;
    }
   
   
  .tasksListContainer
  {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    text-align: left;
    line-height: normal;
    z-index: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    font-family: "Lucida Grande", "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
    font-size: 12px;
    user-select: none;
    touch-action: manipulation;
    outline: none;
    /* yan edition {*/
    /*color: red;*/
    /* }*/
  }
  
  .listContainer
  {
    text-align: center; 
    margin: 0px 20px 20px 0px; 
    font-size: 14px; 
    padding: 20px; 
    border-radius: 20px 20px 20px 20px; 
    box-shadow: 0 0 25px   
  }
  
  .taskContainer
  {
    text-align: left; 
    margin: 0px 20px 20px 0px; 
    font-size: 14px; 
    padding: 20px; 
    border-radius: 20px 20px 20px 20px; 
    box-shadow: 0 0 25px;
    
  }

  .checklistContainer
  {
    clear:left; 
    box-shadow: 0 0 15px; 
    border-radius: 15px 15px 15px 15px; 
    padding:10px; 
    margin:10px;   
  }

  .checklistpointContainer
  {
    clear:left; margin: 10px 0px 0px 0px
  }

  .completed
  {
    background: #a4ecb0;
  }

  .completedChecklistPoint
  {
    background: #a4ecb0;
    text-decoration: line-through;
  }

  li 
  {
    list-style-type: none; /* Убираем маркеры */
  }

  /* 
  div class list
  дерево = "<div style=""text-align: center; margin: 0px 20px 20px 0px; font-size: 14px; padding: 20px; " + ?(Выполнено,"; background: #a4ecb0;", "")+ "border-radius: 20px 20px 20px 20px; font-family:calibri; box-shadow: 0 0 25px"">";
	дерево = Дерево + "<h2>'" + Лист.НаименованиеДляОтчетности ; 

  div class task
  див =  "<div style=""text-align: left; margin: 0px 20px 20px 0px; font-size: 14px; padding: 20px; " + ?(Выполнено,"; background: #a4ecb0;", "")+ "border-radius: 20px 20px 20px 20px; font-family:calibri; box-shadow: 0 0 25px"">";
  
  div class checklist
  див =  "<div style=""clear:left; box-shadow: 0 0 15px; border-radius: 15px 15px 15px 15px; padding:10px; margin:10px; " + ?(Выполнено,"; background: #a4ecb0;", "")+""">";

  div class checklistpoint
  див =  "<div style=""clear:left; margin: 10px 0px 0px 0px"">";

  div class completed
  ?(Выполнено,"; background: #a4ecb0;", "")
  */